* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  --app-color: darkslategrey;
  --colorRight: #3aa394;
  --colorPlace: #d3ad69;
  --colorWrong: #312a2c;
  --colorWrongFG: #504a4b;
  --color-loss: red;
}

body {
  font-family: Mitr, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

.row {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
}

.cell {
  width: 7vh;
  height: 7vh;
  border: 2px solid #d3d6da;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
}

@keyframes scale-animation {
  from {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}
.cell.correct {
  animation-name: scale-animation;
  animation-duration: 1s;
  background-color: #6aaa64;
}

.cell.present {
  animation-name: scale-animation;
  animation-duration: 1s;
  background-color: #c9b458;
}

.cell.absent {
  background-color: #787c7e;
  border-color: #787c7e;
}
